<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        [v-cloak]{display: none}
        .red{color:red}
        .font{font-size: 40px}
        .color{color:red}
        .bgColor{background: skyblue}

        .a{
            width:150px;
            height: 150px;
            background-color: red;
        }
        .b{
            width:100px;
            height: 100px;
            background-color: green;
        }
        .c{
            width:50px;
            height: 50px;
            background-color: blue;
        }
    </style>
</head>
<body>
    <div id="app">
        <h3>1.数据单项绑定</h3>
        <p>原来的数据：{{name}}</p>

        <h3>2.数据双项绑定</h3>
        <input type="text" v-model="msg"  v-cloak>

        <h3>3.v-once 指令，单次渲染</h3>
        <p v-once  v-cloak>原来的数据：{{name}}</p>
        <p v-cloak>当前的数据：{{name}}</p>

        <h3>4.v-cloak 指令，渲染完毕再显示</h3>
        <p v-once  v-cloak>原来的数据：{{name}}</p>
        <p v-cloak>当前的数据：{{name}}</p>

        <h3>5.v-text 指令，文本替换，且不会解析html</h3>
        <p>++++++{{htmlStr}}</p>
        <p v-text="htmlStr">++++++{{htmlStr}}</p>

        <h3>6.v-text 指令，文本替换，且会解析html</h3>
        <p v-html="htmlStr">++++++{{htmlStr}}</p>
        <h3>6.v-text 指令，文本替换，且会解析html</h3>

        <h3>6.v-if v-else if v-else 指令</h3>
        <p v-if="show">我是show</p>
        <p v-if="hidden">我是hidden</p>
        <span class="red">* 当数据模型中没有hiddens时，直接不作渲染</span>
        <p v-if="age >= 18">成年人</p>
<!--        <p>插入的内容</p>-->
        <p v-else>未成年人</p>
        <span class="red">* if else if else 连接判断当中不可插入其他内容，否则报错</span>
        <p v-if="score >= 90">优秀</p>
        <p v-else-if="score >= 70">良好</p>
        <p v-else>一般</p>

        <h3>7.v-show 指令 控制是否显示</h3>
        <p v-show="show">我是show</p>
        <p v-show="hidden">我是hidden</p>
        <span class="red">*v-show指令中，在数据模型中不存在的属性将会报错，但元素会被渲染</span>
        <p v-show="true">我是show</p>
        <p v-show="false">我是hidden</p>
        <p v-show="age>=18">我是show</p>
        <p v-show="age<18">我是hidden</p>
        <span class="red">* v-show 与v-if 使用方式相同个，但v-if 当条件不存在或为false时，不作渲染，true时又重新渲染，而v-show则不论条件是否为真，
            均做渲染，用display属性控制显示与否，在实际开发过程中，v-if的渲染会导致资源消耗较大，所以用到频繁切换元素显示与否时，采用v-sho指令</span>

        <h3>7.v-fro 指令 可用于循环数组 字符串 数字 对象</h3>
        <ul>
            <li>---------循环数组--------------</li>
            <li v-for="(value,index) in list">{{index}}.{{value}}</li>
            <li>---------循环字符串--------------</li>
            <li v-for="(value,index) in 'abcdefgh'">{{index}}.{{value}}</li>
            <li>---------循环数字--------------</li>
            <li v-for="(value,index) in 6">{{index}}.{{value}}</li>
            <li>---------循环对象--------------</li>
            <li v-for="(value,key) in obj">{{key}}:{{value}}</li>
        </ul>

        <h3>8.v-bind 指令 为元素属性绑定数据，可简写为：属性=值</h3>
        <input type="text" v-model="name">
        <input type="text" v-bind:value="name">
        <p class="red">注意点：虽然v-model可以将值绑定到input元素的value属性上，但其具有一定的制约性，其只对input/textarea/selelct有用;但在企业开发中我们可能还需要对其他属性进行绑定，故而需要v-bind指令</p>
        <input type="text" :value="age + 1">
        <p class="red">v-bind指令中，只要是合法的js表达式均可</p>

        <h4>9.v-bind 指令 为元素属性绑定class类名</h4>
        <span>--传统意义上的绑定方法↓----</span>
        <p class="color font bgColor">我是段落</p>
        <span>--v-bind绑定方法↓----</span>
<!--        <p :class="color">我是段落</p>-->
        <p class="red">* 在使用v-bind绑定类名时，不可直接使用类名称进行绑定，因为在vue中，v-bind指令会在数据模型真进行查找，此时，在data中无法找到color属性，自然无法正常渲染</p>
        <p :class="['color','font','bgColor']">我是段落</p>
        <p class="red">*在使用v-bind绑定样式属性时，若要直接在style中查找属性，则需将属性名放入数组中，且用引号括起来</p>
        <span>--v-bind绑定属性 可使用三目标表达式 格式： 条件表达式："类名"：""----</span>
        <p :class="['color','font',false?'bgColor':'']">我是段落</p>
        <span>--v-bind绑定属性 可使用对象表达式 格式： {"类名"：是否绑定}----</span>
        <p :class="['color','font',{'bgColor':true}]">我是段落</p>
        <span>--v-bind绑定属性 可使用对象表达式 且从数据模型中取值----</span>
        <p :class="classObj">我是段落</p>

        <span>--v-bind绑定样式 ----</span>
        <p :style="{color: 'red','font-size': '100px'}">我是段落</p>
        <span class="red">* v-bind 绑定样式，需在样式外用大括号包裹，即对象写法，样式属性值用引号括起来，样式中带横杠（-）等特殊字符的，样式名称也需要用引号括起</span>
        <p :style="style1">我是段落，用对象方式从数据模型中获取</p>
        <p :style="[style1,style2]">我是段落，从数据模型中获取多个样式，用数组包裹</p>

        <h4>10.v-on 指令 为元素绑定事件</h4>
        <span class="red">*注意点：v-on指令绑定元素事件事，在指定事件名称时不需要写on；赋值时必须赋值回到函数</span>
        <button v-on:click="myFn($event)">弹出信息</button>
        <button @click="myFn">v-on可用@符号简写</button>
        <span>--v-on指令修饰符 ----</span>
        <p>默认情况下回调函数会被多次执行</p>
        <h5> .once   - 只触发一次回调</h5>
        <button @click.once="myFn">只触发一次回调</button>

        <h5> .prevent   - 阻止事件默认行为</h5>
        <a href="http://www.baidu.com" @click.prevent="myFn">阻止事件默认行为，点击后将不会执行跳转</a>

        <h5> .stop   阻止事件冒泡</h5>
        <div class="a" @click="a">
            <div class="b" @click.stop="b">
                <div class="c" @click="c"></div>
            </div>
        </div>
        <h5> .self   只有自己触发时才执行函数</h5>
        <div class="a" @click="a">
            <div class="b" @click.self="b">
                <div class="c" @click="c"></div>
            </div>
        </div>
        <h5> .capture   事件捕获</h5>
        <div class="a" @click.capture="a">
            <div class="b" @click.capture="b">
                <div class="c" @click.capture="c"></div>
            </div>
        </div>

        <h6 class="red">*v-on指令常见注意点：</h6>
        <p class="red">1.绑定事件回调函数，可写（），也可不写</p>
        <p class="red">2.回调函数中传递参数可写在圆括号中，其中若想获取原生事件，可在参数中传递（$event）</p>
        <p class="red">3.回调函数中若想使用data中的数据，需要加上this.</p>


        <span>--v-on指令 【案件修饰符】 ----</span>
        <input type="text" @keyup.enter="myFn">
        <p>*：并非所有键都有定义好的修饰符，此时可以用按键码，如f2  --》113，还可以通过全局 config.keyCodes 对象自定义按键修饰符别名：Vue.config.keyCodes.f1 = 112</p>
        <input type="text" @keyup.113="myFn">
        <input type="text" @keyup.f2="myFn">


        <h4>11.VUE中自定义全局指令 directive方法</h4>
        <span class="red">*directive()方法接收两个参数，第一个：（不带v-的）指令名称。第二个：对象，在里面可实现指令业务代码</span>
        <p v-color>bind：只调用一次，指令第一次绑定到元素时调用。在这里可以进行一次性的初始化设置。</p>
        <input type="text" v-focus>
        <P>------vue自定义属性传递参数--------</P>
        <p v-color1="'yellow'">直接传递值到函数中</p>
        <p v-color1="currentColor">将颜色定义到模型中</p>

    </div>

    <div id="app2">
        <p v-color="'yellow'">局部指令改变颜色</p>
    </div>


</body>
<script src="js/vue.js"></script>
<script type="text/javascript">
    Vue.config.keyCodes.f2 = 113;
    Vue.directive("color",{
        bind:function (el) {    //el为绑定指令的元素
            el.style.color = "blue";
        }
    });
    Vue.directive("color1",{
        bind:function (el,paramObj) {    //钩子函数中不仅传递，el,且传递其他参数放在一个对象中
            el.style.color = paramObj.value;
        }
    });
    Vue.directive("focus",{
        inserted:function (el) {    //el为绑定指令的元素,inserted:被绑定元素插入到dom中时
            el.focus();
        }
    });
    new Vue({
        el:"#app",
        data:{
            currentColor:"green",
            name:"lhm呀",
            msg:"测试input的双向绑定",
            htmlStr:"<span>我是span</span>",
            show:true,
            hidden:false,
            age:20,
            score:90,
            list:["张三","李四","王五","赵六"],
            obj:{
                name:"lhm呀",
                age:18
            },
            classObj:{
                "color":true,
                "font":true,
                "bgColor":false
            },
            style1:{
                color:'yellow',
                'font-size':'30px'
            },
            style2:{
                'background-color':"blue"
            },
        },
        methods:{
            myFn:function(e){
            // myFn(){
                alert("lhm呀")
                console.log(e);
                console.log(this.name)

            },
            a(){
              console.log("爷爷")
            },
            b(){
                console.log("爸爸")
            },
            c(){
                console.log("儿子")
            }
        }
    })

    new Vue({
        el:"#app2",
        directives:{
            "color":function (el,paramObj) {
                //为证明是局部变量改变了颜色，故不用传递进来的颜色
                el.style.color = "skyblue"
            }
        }
    })
</script>
</html>