<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
    <style>
        .v-enter{
            opacity: 0;
            margin-left: 500px;
        }
        .v-enter-active{
            transition: all 1s;
        }
        .v-enter-to{
            opacity: 1;
        }

        .v-leave{
            opacity: 1;
        }
        .v-leave-active{
            transition: all 1s;
            margin-left: 50px;
        }
        .v-leave-to{
            opacity: 0;
        }

    </style>
</head>
<body>
<div id="app">
    <button @click="myFn">vue中使用方法</button>
    <p>{{abcMsg}}</p>
    <abc></abc>
    <abc2></abc2>
    <abc3></abc3>
<!--    <abc4></abc4>-->
    <abc5></abc5>
<!--    在此处使用asdf不生效-->
<!--    <asdf></asdf>-->
</div>
<div id="app2">
    <asdf></asdf>
</div>
</body>
<script id="info" type="text/html">
    <div>
        <img src="img/orange.jpg"  height="150" alt="">
        <p>使用script标签创建</p>
    </div>
</script>
<template id="info2">
    <div>
        <img src="img/orange.jpg"  height="150" alt="">
        <!--
      由于我们实在自定义组件中使用方法，所以需要在自定义组件中实现方法
      -->
        <button @click="myFn1">自定义组件中使用方法</button>
        <p>{{abcMsg5}}</p>
        <p>vue最简创建组件方法</p>
    </div>
</template>

<template id="info3">
    <div>
        <img src="img/orange.jpg"  height="150" alt="">
        <p>vue最简创建组件方法</p>
    </div>
</template>
<script>

    //①
    //创建组件构造器
    let proFile = Vue.extend({
        //注意点：创建组件构造器的模板只能有个一根节点
        // template:'<img src="img/orange.jpg"/>'
        template:'' +
            '<div>' +
            '<img src="img/orange.jpg" height="150"/>' +
            '<p>vue最原始的创建组件方法</p>'+
            '</div>'

    })
    //注册组件构造器
    //接收两个参数:1.指定组件的名称，2.已经创建的组件构造器
    Vue.component("abc",proFile)


    //②
    let obj = {
        template:'' +
            '<div>' +
            '<img src="img/orange.jpg" height="150"/>' +
            '<p>vue最原始的创建组件方法2</p>'+
            '</div>'
    }
    Vue.component("abc2",obj)

    //③
    Vue.component("abc3",{
        template:'' +
            '<div>' +
            '<img src="img/orange.jpg" height="150"/>' +
            '<p>vue最原始的创建组件方法</p>'+
            '</div>'
    })

    //④
    // Vue.component("abc4",{template:"#info"})
    //⑤
    Vue.component("abc5",{
        template:"#info2",
        methods: {
            myFn1(){
                alert("myFn1")
            }
        },
        data:function () {
            return {
                abcMsg5:"在自定义组件中使用data数据,data不能直接写一个对象，必须是个函数，故而只能return一个对象返回值来赋值这些数据"
            }
        }
    })

    let vue = new Vue({
        el:"#app",
        data:{
            abcMsg:"在vue中直接使用data数据"
        },
        methods:{
            myFn(){
                alert("myFn")
            }
        }
    })


    //=============================局部组件======================
    let vue2 = new Vue({
        el:"#app2",
        components:{
            asdf:{
                template:"#info3"
            }
        }
    })

</script>




<h3>===========组件切换=============</h3>
<div id="app3">
    <p><button @click="toggle">切换</button></p>
<!--    <p v-if="isShow">这是一个首页 <input type="checkbox"></p>
    <p v-else><img src="img/orange.jpg" height="150" alt=""></p>

    <tt31 v-if="isShow"></tt31>
    <tt32 v-else></tt32>-->


    <h4>---动态组件----</h4>
 <!--   <component :is="name"></component>-->
    <!--
    由上述例子中可以看出，用v-if 或者动态组件渲染，均不会记录checkbox的操作状态
    解决这一问题，需要将动态组件结合keep-alive使用
    -->
<!--    <keep-alive>
        <component :is="name"></component>
    </keep-alive>-->


    <h4>---组件过渡动画----</h4>
<!--
注意点：默认情况下动画都是同时执行，要先离开再进入或先进入在离开可用mode来指定【动画模型】
-->
    <transition mode="out-in">
        <component :is="name"></component>
    </transition>

</div>

<template id="t-3-1">
    <div>
        <p>我是组件的首页</p>
        <input type="checkbox">
    </div>
</template>
<template id="t-3-2">
    <p><img src="img/orange.jpg" height="150" alt=""></p>
</template>

<script>
    Vue.component("tt31",{template:"#t-3-1"})
    Vue.component("tt32",{template:"#t-3-2"})
    new Vue({
        el:"#app3",
        data:{
            isShow:true,
            name:"tt31"
        },
        methods:{
            toggle(){
                this.isShow = !this.isShow;
                this.name = this.name=="tt31"?"tt32":"tt31"
            }
        }
    })
</script>




</body>
</html>